@model AddToFavorites.MVC.UI.Models.LikeViewModel

<div class="card">
    <div class="card-body">
        <ul class="list-group">
            @foreach (var item in Model.Liked.LikeMan)
            {

                <li class="list-group-item">
                    <div class="ProductName-Area py-2">
                        <span class="display-4 font-italic" style="font-family:'Bell MT'">Ürünün Adı</span>

                    </div>
                    <div class="ProductName-Value">
                        <span class="display-4" style="font-size:2.5rem;">@item.Product.ProductName</span>
                    </div>
                    <div class="Remove-Button mt-3">
                        <a class="btn btn-outline-secondary" asp-controller="Like" asp-action="RemoveFromFavorites" asp-route-ProductId="@item.Product.ProductId"><i class="fas fa-trash-alt px-1 text-danger"></i>Favori'den Çıkar</a>
                    </div>
                    <div class="DateTime-Area offset-8 text-center">
                        <strong style="letter-spacing: 2px;">Tarih</strong>
                        <hr class="border-dark" />
                        <small><i class="far fa-hourglass px-1 fa-2x"></i>@item.DateTime</small>
                    </div>

                </li>



                <hr class="border-danger" />
            }
        </ul>
    </div>
</div>
